doctype html
html(lang="ru")
    include includes/_head
    body
        main.presentation
            section.slides.slides--1.slides--2.slides--3.slides--4.slides--5.slides--6.slides--7.slides--8.slides--9.slides--10.slides--11.slides--12.slides--13.slides--14.slides--15.slides--16.slides--17.slides--18.slides--19.slides--20.slides--21.slides--22.slides--23.slides--24.slides--25.slides--26.slides--27.slides--28.slides--29.slides--30.slides--31.slides--32.slides--33.slides--34.slides--35.slides--36.slides--37.slides--38.slides--39.slides--40.slides--41.slides--42.slides--43
                .group.group--1
                    .group--1_place
                        .group--1_place_header.group--1_place_header--44
                            | ЗАКАЗ
                            br
                            | БЕСПЛАТНОЙ
                            br
                            | УПАКОВКИ
                        .group--1_place_header.group--1_place_header--45
                            | ВЫДАЧА
                            br
                            | БЕСПЛАТНОЙ
                            br
                            | УПАКОВКИ
                            p
                                | ПОЛУЧЕНИЕ ЛИНЗ
                                br
                                | ACUVUE®
                    .group--1_circle
                        .group--1_circle_slide.group--1_circle_slide--42
                            img(src="../img/43_text.png", alt="")
                    .group--1_content
                        .group--1_action
                            | Салону оптики будут предоставлены на весь период акции:
                            .group--1_action_items
                                img(src=path+"img/41_items.png", alt="")
                            | СИМ-карта будет пополняться дистанционно, без участия сотрудников салона
                            br
                            br
                            span ВАЖНО! 
                            | КАЖДЫЙ САЛОН ОПТИКИ ПОЛУЧИТ ИНДИВИДУАЛЬНЫЙ ПАРОЛЬ
                            br
                            | И ЛОГИН ДЛЯ РАБОТЫ С ПРИЛОЖЕНИЕМ
                        ol.menu.group--1_list.group--1_list--42.numbered.images
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/20_phone_qr.png", alt="")
                                | Сканировать индивидуальный QR-код со смартфона/распечатки/карты или
                                br
                                | ввести номер мобильного телефона участника Программы лояльности с
                                br
                                | помощью выданного салону смартфона
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/list.png", alt="")
                                | Выбрать из списка наименование и параметры контактных линз, купленных
                                br
                                | потребителем
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/box_closed.png", alt="")
                                | Отметить количество купленных упаковок контактных линз ACUVUE®
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/ok.png", alt="")
                                | Подтвердить покупку, нажав кнопку «OK»
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/www_score.png", alt="")
                                | Баллы автоматически появляются в личном кабинете участника
                        ol.menu.group--1_list.group--1_list--44.numbered.images
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/www_pointer.png", alt="")
                                | Когда участник набрал 120 баллов, он выбирает в личном кабинете
                                br
                                | контактные линзы и салон оптики, в котором их получит
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/list.png", alt="")
                                | Участник получает СМС-сообщение, где и когда сможет получить бесплатную
                                br
                                | упаковку линз через 20 дней. Информация также дублируется в Личный
                                br
                                | кабинет
                        ol.menu.group--1_list.group--1_list--45.numbered.images
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/business.png", alt="")
                                | Участник приходит в салон оптики
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/qr.png", alt="")
                                | Участник предоставляет QR-код
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/file_list.png", alt="")
                                | Участник заполняет и подписывает акт приема-передачи подарка
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/box.png", alt="")
                                | Участник получает бесплатную упаковку линз ACUVUE®
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/files.png", alt="")
                                | Один экземпляр акта приема-передачи бесплатной упаковки остается в
                                br
                                | оптике, один экземпляр акта забирает агентство
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/free.png", alt="")
                                | Для фиксации выдачи бесплатной упаковки контактных линз, необходимо
                                br
                                | нажать на кнопку «Выдать бесплатные линзы»
                        ol.menu.group--1_list.group--1_list--46.numbered.images
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/curriculum.png", alt="")
                                | ОДИН ЭКЗЕМПЛЯР
                                br
                                | АКТА ПРИЕМА-ПЕРЕДАЧИ ПРИЗА
                                br
                                | ПЕРЕДАЕТСЯ ПОТРЕБИТЕЛЮ
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/business_file.png", alt="")
                                | ДВА ЭКЗЕМПЛЯРА АКТА
                                br
                                | ПРИЕМА-ПЕРЕДАЧИ ПРИЗА
                                br
                                | ОСТАЮТСЯ В ОПТИКЕ, АКТЫ
                                br
                                | ЗАБИРАЕТ АГЕНТСТВО РАЗ В
                                br
                                | МЕСЯЦ
                            li
                                span
                                .group--1_list_img
                                    img(src=path+"img/inbox.png", alt="")
                                | В АКТЕ ОБЯЗАТЕЛЬНО ДОЛЖНЫ
                                br
                                | БЫТЬ ОТРАЖЕНЫ: ФИО,
                                br
                                | ПАСПОРТНЫЕ ДАННЫЕ, АДРЕС
                                br
                                | ПРОПИСКИ УЧАСТНИКА, БЕЗ
                                br
                                | ДАННОЙ ИНФОРМАЦИИ
                                br
                                | ПОДАРОК НЕ ПЕРЕДАЕТСЯ
            .switcher
                button.switcher_button.switcher_button--prev(data-action='prev' disabled)
                button.switcher_button.switcher_button--next(data-action='next')
        script.
            var first = 43;
            var last = 45;
        include includes/_footer